<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/images (1).jpg" alt="...">
            <h5 class="title">Tony Stark</h5>
          </a>
          <p class="description">
            @tonystark
          </p>
          <mat-card>Simple card</mat-card>
        </div>
        <p class="description text-center">
          "Gênio, bilionário,
          <br> Playboy,
          <br> Filantropo"
        </p>
      </div>
      <div class="card-footer">
        <hr>
       
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Perfil</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
              <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Company" value="Tony Stark">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" placeholder="Last Name" value="tonybilionario@gmail.com">
                  </div>
                </div>
          </div>
       
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Endereço</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Cidade</label>
                <input type="text" class="form-control" placeholder="City" value="Melbourne">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Estado</label>
                <input type="text" class="form-control" placeholder="Country" value="Australia">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Cep</label>
                <input type="number" class="form-control" placeholder="56545-85">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control textarea">Gênio, bilionário, Playboy, Filantropo</textarea>
              </div>
            </div>
           
          </div>
          <a routerLink="./"class="btn btn-success">Salvar</a>
          <a routerLink="./"class="btn btn-danger">Cancelar</a>

        </form>
      </div>
    </div>
  </div>
</div>
