<div class="form-group">
  <label>Adicionar Foto</label>
  <input style="width: 40%" type="text" class="form-control" placeholder="Arquivo...">

  <div class="update ml-auto mr-auto">
    <button type="submit" (click)="chooseArchive()" class="btn btn-primary btn-round">Escolher Arquivo</button>
    <button type="submit" class="btn btn-sucess btn-round">Salvar</button>

  </div>

</div>
<div class="grid">
  <div class="wrapper">
      <img src="https://unsplash.it/1000/1005" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/100/300" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/200/100" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/400/300" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/252/445" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/352/106" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/234/432" alt="">
  </div>
  <div class="wrapper">
      <img src="https://unsplash.it/200/236" alt="">
  </div>
  <div class="wrapper">
    <img src="https://unsplash.it/1000/1010" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/100/303" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/200/158" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/400/369" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/252/440" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/352/1001" alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/234/430 " alt="">
</div>
<div class="wrapper">
    <img src="https://unsplash.it/200/240" alt="">
</div><div class="wrapper">
  <img src="https://unsplash.it/1000/1000" alt="">
</div>
<div class="wrapper">
  <img src="https://unsplash.it/100/3001" alt="">
</div>
<div class="wrapper">
  <img src="https://unsplash.it/200/10" alt="">
</div>
<div class="wrapper">
  <img src="https://unsplash.it/400/30" alt="">
</div>

</div>