<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">

        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
             <button mat-mini-fab>
              <a (click)="onRedirectUser()">
               <mat-icon> 
                  account_box   
                </mat-icon>
              </a>
            </button>
<button mat-mini-fab>
  <a (click)="onLogout()">
    <mat-icon> 
      exit_to_app   
    </mat-icon>
  </a>
</button>

                  
                
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
                <p class="card-title-d"> Bem vindo,
                    <p>
              <p class="card-category"> {{ userCurrentService.getFirstName() }} {{ userCurrentService.getCurrentUser().lastName }} </p>

                <p>
            </div>
          </div>
        </div>
      </div>


      <div class="card-footer ">
        <hr>
        <div class="stats">

        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <a (click)="insertData()" class="btn btn-success">Adicionar</a>
         <table class="table table-striped table-hover">   
             <thead>
                 <tr>
                   <th>Nome</th>
                   <th>Destino</th>
                   <th>Origem</th>
                   <th>Transporte</th>
                   <th>Data</th>
                   <th>Valor Viagem</th>
                   
                 </tr>
             </thead>
             <tbody>  
               <tr *ngFor="let x of arr || async">
                   <td>{{x.nameUser}}</td>
                   <td> {{x.destiny}} </td>
                   <td> {{x.home}} </td>
                   <td> {{x.transport}}</td>
                   <td> {{x.date}}</td>
                   <td> {{x.value}}</td>
                   <td>
                    <button class="btn btn-success" (click)="alterar(x)">
                      Alterar
                    </button>
                    &nbsp;
                    <button  class="btn btn-danger">
                      Excluir
                    </button>
                     </td>
                   
                   

                  </tr>
              
            
             </tbody>
         </table>
     </div>
  </div>
</div>

